@use 'styles/constants/colors';

.container {
  width: 272px;
  height: fit-content;
  padding: 10px;
  font-weight: 700;
  background: colors.$GS_BG_SECONDARY;
  border-radius: 5px;
}

.content {
  display: flex;
  flex-flow: column;
  gap: 10px;
  margin-top: 15px;
}

/* stylelint-disable-next-line selector-class-pattern */
.add-button {
  display: flex;
  width: 100%;
  padding: 5px;
  margin-top: 10px;
  color: colors.$GS_CONTENT_2;
  border-radius: 5px;

  &:hover {
    background: colors.$GS_BORDER;
  }

  svg {
    margin-right: 10px;
  }
}

.loading {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}
